### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

In [90]:
with open('test.csv', 'r') as file: 
    test=file.read()
file.close()
data_split=list()
data=test.split('\n')
for i in data:
  i=i.split(',')
  data_split.append(i)
data_clean=dict.fromkeys(data_split[0],list())
for i in range(len(data_split[0])):
  temp=list()
  for row in data_split[1:]:
    temp.append(row[i])
  data_clean[data_split[0][i]]=temp
    
display(data_clean)

{'ApplicantIncome': [],
 'Education': [],
 'Gender': [],
 'LoanAmount': [],
 'Loan_ID': [],
 'Married': [],
 'Property_Area': []}

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': ['Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate'],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

In [94]:
temp=data_clean['Education']
for i,edu in enumerate(temp):
  if edu == 'Graduate':
    temp[i]=1
  elif edu == 'Not Graduate':
    temp[i]=0
display(data_clean)

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': [1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

In [117]:
temp = data_clean['LoanAmount']
display('Max is '+ max(temp))
display('Min is '+ min(temp))  
sum=0
for i in temp:
  sum=sum+int(i)
display(sum/len(temp))

'Max is 90'

'Min is 100'

131